* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;

  text-transform: capitalize;
}
.header {
  display: flex;
  background-color: cadetblue;
  justify-content: space-around;
}
.header h1 {
  padding: 30px;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}
ul {
  display: flex;
}
ul li {
  padding: 30px 30px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

ul li a {
  color: rgb(0, 0, 0);
}
.active {
  background-color: rgb(225, 225, 225);
  padding: 20px;
  border-radius: 5px;
}
/* .pages h1 {
  padding-top: 60px;
} */
